<div id="centergame" class="centergame">
    <div class="C_playerdisplay">
        <div class="C_playerinfo">
            <img alt="?">
            <div>
                <h4 id="p2_name">Igor Dimichev</h4>
                <p>(1500)</p>
            </div>
        </div>
        <div class="C_timer">
            <h2 id="p1_timer">05:00</h2>
        </div>
    </div>
    <div id="C_board">
		<ng-container #boardContainer></ng-container> 
	</div>
    <div class="C_playerdisplay">
        <div class="C_playerinfo">
            <img alt="?">
            <div>
                <h4 id="p1_name">Nikolai Inviniche</h4>
                <p>(1500)</p>
            </div>
        </div>
        <div class="C_timer">
            <h2 id="p2_timer">05:00</h2>
        </div>
    </div>
</div>